/* app css stylesheet */
body, html {
  height: 100%;
}

* {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
}

input {
	margin: 0;
}

.navbar {
	display: inline-block;
	height: 50px;
	margin-bottom: 20px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
	background-color: #FFE600;
	text-align: center;
}

.navbar-brand {
	height: 50px;
	padding: 10px 10px;
	font-size: 18px;
}

.navbar-brand > img {
	display: block;
	max-width: 100%;
	height: auto;
}

.navbar-form {
	width: auto;
	height: 50px;
	padding: 10px 10px;
	display: inline-block;
	vertical-align: middle;
}

.form-control {
	width: 100%;
	height: 30px;
	font-size: 18px;
	border: transparent;
	padding: 10px 10px;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.input-group {
	position: relative;
	border-collapse: separate;
}

.input-group-btn {
	position: relative;
	display: table-cell;
	z-index: 2;
	margin-left: -1px;
}

